$font-family: "sofia-pro", sans-serif;
$font-size: 10px;
$greenish: #21a73f;
$greenish-mobile: rgba(33, 167, 63, 0.95);
$font-color-white: #ffffff;
$font-color-black: #000000;
$font-color-dropdown: #203137;
$font-color-rich-text: #8f9ea7;
$greenish-bgc: rgba(33, 166, 62, 0.08);
$font-weight-span: 600;
$transition-time: 0.3s;
$border-header-nav-top: 1px solid #c6ced2;
$font-awesome-inactive: #c6ced2;
$button-height-section-2: 58px;
$button-white-border: 1px solid #fff;
$button-color-disabled: #71c684;

html {
    font-family: $font-family;
    font-size: $font-size;
    overflow-x: hidden;
}
.clipan {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(200px, 1140px) minmax(0, 1fr);
    padding: 0 15px;
    
    &__section {
        grid-column: 2/3;
    }
    &__welcome {
       
        font-size: 3.6rem;
    }
    &__username {
        font-style: 700;
        color: $greenish;
    }
}
.cpnav {

    &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        gap: 30px; 
        list-style: none;
    }
    &__item{
        border: $border-header-nav-top;
        border-radius: 12px;
        padding: 30px;
    }

    &__notification {

    }
    // SVG ICONS
    &__icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    stroke-width: 0;
    fill: #C6CED2;

    &-wyloguj {
        width: 32px;
        height: 32px;
      }
      
      &-biez-plat {
        width: 32px;
        height: 32px;
      }
      
      &-hist-plat {
        width: 32px;
        height: 32px;
      }
      
      &-dane {
        width: 32px;
        height: 32px;
      }
  } 
}
